---
layout: default
title: Laura Treganowan
meta-description: Laura Treganowan
featured-image_path: images/whitedesk.jpg
---


  <!-- FIRST: PICTURE SECTION ---->
  <section id="intro-banner"></section>

<!-- SECOND: INTRO SECTION ---->
  <section class="center-text">

    <h1>Hi, I'm Laura</h1>

    <p class="taglinecenter">
      Fitness Junkie - Coffee Enthusiast - Adventure Seeker - Wannabe Rapper
    </p>
<br />
    <p>

      Welcome to my little corner of the internet. I am just an American girl that is always on the move. I have lived and traveled throughout Southeast Asia for the past year. From teaching English outside of Chiang Mai, to learning how to code in Bali, to currently being a cycling instructor instructor in Bangkok - it has been a wild ride! I continue on a path to live a life full of purpose and attempt to find descent tacos in Thailand. The real reason for this website? To bury my ski-racing results and high school cheerleading pictures in a Google search. Enjoy!
      <br />
      <br />
      <a target="blank" class="button center-text" href="../pdf/funresume.pdf">Resume</a>
      <a target="blank"class="button center-text" href="/portfolio">Portfolio</a>
    </p>

  </section>

  <!-- TAGLINE SECTIONS -->
  <section class="featured">
    <p class="quote">
      <i class="fa fa-quote-left" aria-hidden="true"></i>
      Being happy is my goal, greatness is my vision
      <i class="fa fa-quote-right" aria-hidden="true"></i><br />
      Childish Gambino
    </p>
  </section>


<!-- RANDOMNESS -->
<section class="grid-centered">
<div class="container feedpost col-6_sm-12">
<h2>Latest Posts </h2>
<hr class="style1" />
<div class="grid blog-loop feedpost">
  {% for post in site.posts limit:2 %}
    <div class="feedpost">
        <a href="{{post.url}}">

          <h5> {{post.title}} </h5>
          <p class="post-meta">{{post.date | date_to_string }} | By {{post.author}}</p>
          <p class="mob-hide"> {{post.excerpt | truncate:150 }} </p>
        </a>

      </div>
    {% endfor %}
</div>
<p class="right-text blog-button"><a href="/blog.html">VIEW BLOG</a></p>
</div>


<div class="col-6_sm-12 centered">
  <h2>Latest Jams</h2>
  <hr class="style1" />
  <br />
  <div class="centered spotify">
<iframe src="https://open.spotify.com/embed/user/1211322207/playlist/04MNngA5TfqrbGS6RxXvLa" width="580" height="450" frameborder="0" allowtransparency="true"></iframe></div>
</div>
</section>


<!-- Contact Section -->

<section class="center-text featured">
  <h2>Say Hello</h2>
  <p>treganowanl@gmail.com</p>
  <p><i class="fa fa-map-marker" aria-hidden="true"></i> Bangkok, Thailand </p>
  <nav class="social-nav centered">
    <a target="blank" href="https://www.facebook.com/laura.treganowan"> <i class="fa fa-facebook" aria-hidden="true"></i></i> </a>
    <a target="blank" href= "https://www.linkedin.com/in/laura-treganowan-8659038a/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    <a target="blank" href="https://www.instagram.com/lauratregz/"> <i class="fa fa-instagram"> </i></a>
  </nav>
</section>

{% include instagram.html %}
