---
layout: default
title: Laura Treganowan
meta-description: Laura Treganowan
featured-image_path: images/whitedesk.jpg
---


  <!-- FIRST: PICTURE SECTION ---->
  <section id="intro-banner"></section>

<!-- SECOND: INTRO SECTION ---->
  <section class="center-text">

  <div>
    <h2>Hi, I'm Laura</h2>
  </div>

  </section>

 <!-- THIRD: BLOG SECTION -->
    <section class="container feedpost">
      <h4 class="centered feedpost"> Latest Posts </h4>

      <div class="grid blog-loop feedpost">
        {% for post in site.posts limit:3 %}
          <div class="col-4_sm-12 feedpost">
              <a href="{{post.url}}">
                <img src="{{post.image_path}}"> <!-- for consistent image sizes you will either need to crop the images beforehand or change this to divs with background images -->
                <h5> {{post.title}} </h5>
                <p class="post-meta">{{post.date | date_to_string }} | By {{post.author}}</p>
                <p> {{post.excerpt | truncate:100 }} </p>
              </a>
            </div>
          {% endfor %}
      </div>
    </section>


<!-- THIS IS THE PROJECTS SECTION ---->
<section>
<div>
  <p>
    Here will be a section for all of my latest projects, volunteer work, and learning.
  </p>
</div>
</section>


{% include instagram.html %}
