<footer>
  <div>
    <p><i class="fa fa-copyright" aria-hidden="true"></i> 2017 - Laura Treganowan  </p>
  </div>


  <div>
    <nav class ="nav-menu">
      <i class="fa fa-code" aria-hidden="true"></i>
      <a class="scroll-to" href="/#intro-banner"> Home </a>
      <a class="scroll-to" href="/#about-banner"> About </a>

      <a class="scroll-to" href="/#portfolio-banner"> Portfolio </a>
      <a class="scroll-to" href="/#register">Contact</a>
      <i class="fa fa-code" aria-hidden="true"></i>
    </nav>
  </div>

</footer>
