<footer>
  <div>
    <p> Website create by: me! </p>
  </div>


  <div>
    <nav>
      <a class="scroll-to" href="#intro-banner"> Home </a>
      <a class="scroll-to" href="#about-banner"> About </a>
      <a class="scroll-to" href="#process"> Process  </a>
      <a class="scroll-to" href="#portfolio-banner"> Portfolio </a>
      <a class="scroll-to" href="#register">Contact</a>
    </nav>
  </div>


  <div>
    <nav class="social-nav">
      <a href="https://www.facebook.com/laura.treganowan"> <i class="fa fa-facebook" aria-hidden="true"></i></i> </a>
      <a href="https://www.instagram.com/lauratregz/"> <i class="fa fa-instagram"> </i></a>
      <a href="https://www.lauraswholeheart.com"> <i class="fa fa-laptop"></i></a>
    </nav>
  </div>

</footer>
