<footer>
  <div>
    <p><i class="fa fa-copyright" aria-hidden="true"></i> 2017 - Laura Treganowan  </p>
  </div>


  <div>
    <nav class ="nav-menu">
      <i class="fa fa-code" aria-hidden="true"></i>
      <a class="scroll-to" href="/#intro-banner"> Home </a>
      <a class="scroll-to" href="/#about-banner"> About </a>
      <a class="scroll-to" href="/#process"> Process  </a>
      <a class="scroll-to" href="/#portfolio-banner"> Portfolio </a>
      <a class="scroll-to" href="/#register">Contact</a>
      <i class="fa fa-code" aria-hidden="true"></i>
    </nav>
  </div>


  <div>
    <nav class="social-nav">
      <a href= "https://www.linkedin.com/in/laura-treganowan-8659038a/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      <a href="https://www.facebook.com/laura.treganowan"> <i class="fa fa-facebook" aria-hidden="true"></i></i> </a>
      <a href="https://www.instagram.com/lauratregz/"> <i class="fa fa-instagram"> </i></a>
      <a href="/blog.html"> <i class="fa fa-laptop"></i></a>
    </nav>
  </div>

</footer>
