<header>
    <nav class="grid-middle-center centered">
      <i class="fa fa-angle-left" aria-hidden="true"></i>
      <a class="scroll-to" href="/#intro-banner"> Home </a>
      <a class="scroll-to" href="/#about-banner"> About </a>
      <a class="scroll-to" href="/#process"> Process  </a>
      <a class="scroll-to" href="/#portfolio-banner"> Portfolio </a>
      <a class="scroll to" href="/#register">Contact</a>
      <a  href="blog.html">Blog</a>
      <i class="fa fa-angle-right" aria-hidden="true"></i>
    </nav>
</header>
