---
layout: default
title: Shop
---

<section class="tall feedpost">
<img class="full-width" src="{{page.image_path}}">
  <div class="post-body feedpost">
      
      <h1> {{page.title}} </h1>
      <p class="post-meta">{{page.date | date_to_string }} | Written by {{page.author}}</p>
      

      {{content}}

      <hr>

      <div class="social-share feedpost">
        <h4 class="feedpost"> Did you <i class="fa fa-heart featured"></i> this? Share it on ... </h4>
        <nav class="feedpost">
            </a>
            <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook">
                <i class="fa fa-facebook"></i>Facebook
            </a>
            <a href="https://www.pinterest.com/{{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Pinterest">
              <i class="fa fa-pinterest-p" aria-hidden="true"></i></i>Pinterest
            </a>
        </nav>
      </div>

  </div>


</section>
{% include instagram.html %}
