---
layout: default
title: Shop
---

<section class="tall grid feedpost">

  <div class="col-8_sm-12 post-body feedpost">
      <h1> {{page.title}} </h1>
      <p class="post-meta">{{page.date | date_to_string }} | Written by {{page.author}}</p>
      <img class="full-width" src="{{page.image_path}}">

      {{content}}

      <hr>

      <div class="social-share feedpost">
        <h4 class="feedpost"> Did you <i class="fa fa-heart featured"></i> this? Share it on ... </h4>
        <nav class="feedpost">
            </a>
            <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook">
                <i class="fa fa-facebook"></i>Facebook
            </a>
            <a href="https://www.pinterest.com/{{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Pinterest">
              <i class="fa fa-pinterest-p" aria-hidden="true"></i></i>Pinterest
            </a>
        </nav>
      </div>

  </div>

  <div class="col-4_sm-12 mob-hide sidebar feedpost">
      <div>
        <h3 class ="feedpost"> Da Blog </h3>
        <p> Life through my lens. This is where I talk nerdy to you.  </p>
        <img src="/images/happy.jpg">
      </div>
      <div>
        <p> <div>
          <nav class="social-nav">
            <a href= "https://www.linkedin.com/in/laura-treganowan-8659038a/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a href="https://www.facebook.com/laura.treganowan"> <i class="fa fa-facebook" aria-hidden="true"></i></i> </a>
            <a href="https://www.instagram.com/lauratregz/"> <i class="fa fa-instagram"> </i></a>
            <a href="/blog.html"> <i class="fa fa-laptop"></i></a>
          </nav>
        </div> </p>
      </div>
  </div>
</section>
{% include instagram.html %}
